/* Main */

body{
    margin: 0;
    max-width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2em;
    line-height: 28px;
    margin: 8px 0;
}

h3 {
    font-size: 2em;
    width: 100%;
    text-align: center;
}

h4 {
    font-size: 1.2em;
    margin: 8px 0;
}

h5 {
    font-size: 1.3em;
    line-height: 1;
}

button {
    font-size: 1em;
    background-color: black;
    color: white;

}

/* Classes */

.row {
    display: flex;
    width: 100%;
  }

.tab {
    display: flex; 
}

.tab img {
    width: 35%;
    height: auto;
    padding: 16px;
}

.tab-info {
    display: flex;
    flex-direction: column;
}

.card {
    max-width: 25%;
    margin: 30px;
}

.card img {
    width: 100%;
}

.col-left {
    flex: 60%;
    padding: 32px 24px 32px 24px;
  }

.col-right {
    flex: 40%;
    padding-top: 32px;
}

.col-left img {
    width: 100%;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    max-width: 100%;
    padding: 0 24px;
}

.navbar #brand {
    display: inline-flex;
    justify-content: flex-start;
}

.navbar #logo {
   width: 40px;
}

/* Hero */

#hero {
    background-color: blanchedalmond;
    padding: 0 ;
}

#hero button {
    padding: 8px;
    width: 100%;
}

#hero .col-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-box {
    width: 70%
}




/* Info */

#info-tab {
    border-left: 1px solid;
}

#info h2 {
    margin: 32px 0 24px 0;
}

/* Courses */

#courses {
    display: flex;
    flex-wrap: wrap;
}

#courses {
    justify-content: center;
}

/* Thesis Exibit */

#thesis-tab {
    border-left: 1px solid;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    max-width: 100%;
    padding: 0 24px;
}







  


